
android/local.properties
android/.idea/vcs.xml
android/.idea/misc.xml
android/.idea/kotlinc.xml
android/.idea/jarRepositories.xml
android/.idea/gradle.xml
android/.idea/compiler.xml
android/.idea/.name
android/.gradle/vcs-1/gc.properties
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/7.3.3/gc.properties
android/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
android/.gradle/7.3.3/fileHashes/fileHashes.lock
android/.gradle/7.3.3/fileHashes/fileHashes.bin
android/.gradle/7.3.3/fileChanges/last-build.bin
android/.gradle/7.3.3/executionHistory/executionHistory.lock
android/.gradle/7.3.3/dependencies-accessors/gc.properties
android/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
android/.gradle/7.3.3/checksums/sha1-checksums.bin
android/.gradle/7.3.3/checksums/md5-checksums.bin
android/.gradle/7.3.3/checksums/checksums.lock
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/leva_app_RN.iml
android/local.properties
